<div style="margin: 100px 10px;">
    <div id="nombreSesion" class="row text-end">
        <div class="col">
            <p style="text-transform: capitalize" ;>Bienvenido, {{persona}}
                <a href="/admin/login/logout" class="btn btn-danger" style="text-transform: uppercase;">
                    Cerrar sesión
                </a>
            </p>
        </div>
    </div>
    {{!-- Abre Admin Novedades --}}
    <div class="row" style="margin: 50px 10px;">
        <div class="col-8">
            <h1>Listado de Novedades:</h1>
        </div>
        <div class="col-3 text-center">
            <a href="/admin/novedades/agregar" class="btn btn-success"><i class="bi bi-plus-lg"> Nueva entrada</i></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-secondary table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Título</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {{#each novedades}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{titulo}}</td>
                        <td>{{fecha}}</td>
                        <td>{{precio}}</td>
                        <td>{{{imagen}}}</td>
                        <td class="text-start">
                            <a href="/admin/novedades/modificar/{{id}}" class="btn btn-outline-secondary">
                                <i class="bi bi-pencil-fill"></i></a>
                            <a href="/admin/novedades/eliminar/{{id}}"
                                onclick="return confirm('¿Estás seguro que quieres borrar {{titulo}}?')"
                                class="btn btn-outline-warning">
                                <i class="bi bi-trash3-fill"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>